{% extends "base.html" %}
  {% block content %}
  <div class="well well-large">
      <div class="container" id="homepage-container">
        <div class="row">
          <div class="span5">
            <img src="../static/img/face.jpg" class="img-circle"/>
          </div>
          <br>
          <div class="span5"><br>
            <p><b> Emily Saunders Walmsley</b>: 
              <br><br>> Aspiring queen of bioinformatics, programmer, student, occasional archaeologist. 
              <br><br>> Also neurology, cooking, science fiction.
              <br><br>> Often goes by passeridae or RayneCatseye.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
