{% extends "base.html" %}
  {% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Recent Projects</h1>
    </div>
  </div>
  <div class="row row-centered">
    <div class="span3 col-centered">
      <div class="col-xs-4 portfolio-item">
        <a href="https://fusionculturegroupsydney.wordpress.com">
          <img src="http://fusionculturegroupsydney.files.wordpress.com/2014/07/tai-chi-bw-dec2013.jpeg?w=700&h=">
          </a>
          <h3>Fusion Culture Group</h3>
          <p>A website built for a not-for-profit based in Sydney.</p>
        </div>
      </div>
      <div class="span6 col-centered">
        <div class="col-xs-4 portfolio-item">
          <a href="#"><img
src="http://upload.wikimedia.org/wikipedia/en/f/f2/Google_Apps_Script.png">
          </a>
          <h3>PromptFill</h3>
          <p>A GoogleDocs script to make my life a little easier, by
autocompleting a document template when prompted. Source code is <a
href="https://github.com/RayneCatseye/promptfill">here</a></p>
        </div>
      </div>
  </div>


  <h3>Other Interests:</h3>
  <dl>
  <dt><a href="http://rosalind.info/">Rosalind</a></dt>
    <dd>A platform for learning bioinformatics and programming
through problem solving. Source code is <a
href="https://github.com/RayneCatseye/rosalind">here</a></dd>
  <dt><a href="http://eudyptula-challenge.org/">Eudulipta
Challenge</a></dt> 
    <dd>A series of programming exercises for the Linux kernel,
that start from a very basic "Hello world" kernel module, moving on up
in complexity to getting patches accepted into the main Linux kernel
source tree. Still a work in progress, but a very fun one.</dd>
  </dl>
  <br>
</div>
{% endblock %}
