{% extends "base.html" %}
  {% block content %}
	<div class="container">
		<div class="container-fluid">
			<div class="row">
				<div class="span5">
					<div class="well well-large" id="project-well">
						<div class="portfolio-item">
							<a href="https://github.com/RayneCatseye/SLiMScape"><img src="../static/img/slimscape.png"></a>
							<h3>SLiMScape</h3>
							<p>A Java Program designed as a plugin to <a href="http://www.cytoscape.org/">Cytoscape</a>, which analyses protein datasets for the presence Short Linear Motifs. Written as a summer internship project at UNSW.</p>
						</div>
					<br>
					</div>
					<div class="well well-large" id="project-well">
						<div class="portfolio-item">
							<a href="https://fusionculturegroupsydney.wordpress.com"><img src="../static/img/fcg.jpeg"></a>
							<h3>Fusion Culture Group</h3>
							<p>A website built for a not-for-profit based in Sydney.</p>
						</div>
					</div>
				</div>
				<div class="span5">
					<div class="well well-large" id="project-well">
						<div class="portfolio-item">
							<a href="https://github.com/RayneCatseye/NeuRA"><img src="../static/img/neura.png"></a>
							<h3>Shellscripting</h3>
							<p>Written for <a href="www.neura.edu.au/people/dr-lucette-cysique">Lucette Cysique</a> at <a href="https://www.neura.edu.au">NeuRA</a>, this program automates analysis of MRI data key to her research into HIV-associated neurocognitive disorders</p>
						</div>
					<br>
					</div>
					<div class="well well-large" id="project-well">
						<h2>Other Things:</h2>
						<dl>
							<dt><a href="http://rosalind.info/">Rosalind</a></dt>
								<dd>A platform for learning bioinformatics and programming through problem solving. Solutions to problems can be found <a href="https://github.com/RayneCatseye/rosalind">here</a></dd>
							<dt><a href="http://eudyptula-challenge.org/">Eudulipta Challenge</a></dt> 
								<dd>A series of programming exercises for the Linux kernel, that start from a very basic "Hello world" kernel module, moving on up in complexity to getting patches accepted into the main Linux kernel source tree. Still a work in progress, but a very fun one.</dd>
							<dt><a href="https://github.com/RayneCatseye/Perl2Python">Perl 2 Python</a></dt>
								<dd>A Perl to Python translator, written in Perl. Essentially a romp through regexes, with occasinally entertaining consequences. Forever a work in progress.</dd>
							<dt><a href="https://github.com/RayneCatseye/promptfill">Prompt Fill</a></dt>
								<dd>A GoogleDocs script to make my life a little easier, by autocompleting a document template when given appropriate input. Mostly a test in using GoogleDocs Scripts, rather than a program with broad usage capabilities!</dd>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
  {% endblock %}

