{% extends "base.html" %}
  {% block content %}
  <div class="container">
    <dl>
      <dt><a href="http://rosalind.info/">Rosalind</a>: a platform for
learning bioinformatics and programming through problem solving.</dt>
        <dd><a
href="https://github.com/RayneCatseye/rosalind">Code for Completed
Problems</a></dd>
      <dt>Dictation Tool for filling typing templates</dt>
        <dd><a
href="https://github.com/RayneCatseye/promptfill">Source Code</a></dd>
      <dt><a href="http://eudyptula-challenge.org/">Eudulipta
Challenge</a>: a series of programming exercises for the Linux kernel,
that start from a very basic "Hello world" kernel module, moving on up
in complexity to getting patches accepted into the main Linux kernel
source tree.</dt>
    </dl>
  </div>
{% endblock %}
