{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="container-fluid">
		<div class="row">
			<div class="span5">
				<div class="well well-large">
					<div class="panel-title">Work History</div>
					<div class="panel-body" id="workcontent">
						<dl>
							<dt>Google Engineering Practicum Internship (November 2013 - February 2014)</dt>
								<dd>Frontend web development for internal services (HTML, CSS, JavaScript, jQuery)</dd>
								<dd>Created interfaces to increase ease of access of analytics systems.</dd>
								<dd>Project in active use by 5 teams by the end of the internship period.</dd>
								<dd>Completed all assigned goals, as well as ~85% of stretch goals.</dd>
							<br>
							<dt>UNSW School of Biotechnology and Biomolecular Sciences Intern (November 2014 - current)</dt>
								<dd>Porting and near complete rewriting of SLiMScape, a Cytoscape plugin designed to find and analyse Short Linear Motifs in DNA.</dd>
								<dd>Continued working for Dr Edwards on a part-time basis after completion of the scholarship, to add further functionality to the program</dd>
							<br>
							<dt>Member of the Cysique Team at NeuRA (October - December 2014)</dt>
								<dd>Automating analysis of brain MRI data for Lucette Cysique</dd>
							<br>
							<dt>Australian Government ICT Cadetship (August 2014, position declined)</dt>
						</dl>
					</div>
				</div>

				<br>
				<div class="well well-large">
					<div class="panel-title">Education</div>
					<div class="panel-body" id="qualscontent">
						<dl>
							<dt> University of New South Wales (2013 - present) - Bioinformatics</dt>
								<dd>Transcript available on request</dd>
							<br>
							<dt>Online Education - Coursera</dt>
								<dd>Introduction to Mathematical Philosophy (Ludwig-Maximilians-Universität München, 87.5%)</dd>
							<br>
							<dt>University of New South Wales (2012) - Medicine</dt>
							<br>
							<dt>SCEGGS Darlinghurst (2006 - 2011)</dt>
								<dd>Academic Scholarship (2006 - 2011)</dd>
								<dd>ATAR 99.3, NSW HSC All-Round Achievers List</dd>
						</dl>
					</div>
				</div>
			</div>

			<div class="span5">
				<div class="well well-large">
					<div class="panel-title"> Skills</div>
					<div class="panel-body" id="skillscontent">
						<dl>
							<dt><i>Programming Languages: </i>C, Python, Bash, Java, HTML, CSS and Javascript incl. JQuery</dt>
							<br>
							<dt><i>Operating Systems: </i>Linux (Ubuntu and Debian)</dt>
							<br>
							<dt><i>Web Frameworks: </i>Flask</dt>
						</dl>
					</div>
				</div>

				<div class="well well-large">
					<div class="panel-title">Awards & Co-Curricular</div>
					<div class="panel-body" id="extracontent">
						<dl>
							<dt>APAC Google Anita Borg Memorial Scholarship Short-List (2015)</dt>
								<dd>Scholarship awarded based on strength of academic background and demonstrated leadership in computer science or related field.</dd>
							<br>
							<dt>School of Biotechnology and Biomolecular Sciences Vacation Research Scholarship (2014-2015)</dt>
								<dd>Scholarship for summer research under Dr Richard Edwards.</dd>
							<br>
							<dt>Lyceum Club Women in Engineering Leadership Award Finalist (2014)</dt>
								<dd>Award recognising leadership, support and engagement with women in engineering (at both a university and high school level)</dd>
							<br>
							<dt>Duke of Edinburgh Award (Bronze (2008), Silver (2009) and Gold (2011))</dt>
								<dd>presented by Her Excellency Prof. Marie Bashir</dd>
							<br>
							<dt>Leadership Program UNSW (2013 - current)</dt>
							<br>
							<dt>Volunteer with Girl’s Programming Network and CompClub, teaching programming and robotics to school children (2014-present)</dt>
							<br>
							<dt>Frequent writer of articles and puzzles for CSESoc Newsletter Team, UNSW (2014 - present)</dt>
							<br>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
