{% extends "base.html" %}
{% block content %}
<h2>Work History:</h2>
<dl>
  <dt>Google Engineering Practicum Internship (November 2013 - February
2014)</dt>
    <dd>Frontend web development for internal services (HTML, CSS,
JavaScript, jQuery)</dd>
    <dd>Created interfaces to increase ease of access of analytics
systems.</dd>
    <dd>Project in active use by 5 teams by the end of the internship period.</dd>
    <dd>Completed all assigned goals, as well as ~85% of stretch goals.</dd>
  <dt>Randwick Cardiology (2013 - current)</dt>
    <dd>Medical typist and occasional receptionist</dd>
  <dt>Sydney Endocrinology and Diabetes (2013 - current)</dt>
    <dd>Sole receptionist, dealing with patient arrival, documentation, payment and correspondence</dd>
  <dt>Prior Education (2012)</dt>
    <dd>Tutor in Mathematics, Chemistry and Physics</dd>
</dl>

<h2>Skills and Qualifications:</h2>
<dl>
  <dt><i>Programming Languages: </i>C, Python, Bash, HTML, CSS and Javascript incl. JQuery</dt>
  <dt><i>Operating Systems: </i>Linux (Ubuntu and Debian)</dt>
  <dt><i>Web Frameworks: </i>Flask</dt>
</dl>

<h2>Education:</h2>
<dl>
  <dt> University of New South Wales (2013 - present) -
Bioinformatics</dt>
    <dd>Transcript available on request</dd>
  <dt>Online Education - Coursera</dt>
    <dd>Introduction to Mathematical Philosophy (Ludwig-Maximilians-Universität München, 87.5%)</dd>
    <dd>Digital Certificates available on request</dd>
  <dt>University of New South Wales (2012) - Medicine</dt>
  <dt>SCEGGS Darlinghurst (2006 - 2011)</dt>
  <dt>Academic Scholarship (2006 - 2011)</dt>
    <dd>ATAR 99.3, NSW HSC All-Round Achievers List</dd>
    <dd>Subjects: Extension 1 Maths, Extension 1 English, Chemistry,
Physics, French</dd>
    <dd>Prizes for: All Round Achievement and First in Mathematics</dd>
</dl>

<h2>Extra Curricular Activities:</h2>
<dl>
  <dt>Duke of Edinburgh Award (Bronze (2008), Silver (2009) and Gold (2011)</dt>
    <dl>presented by Her Excellency Prof. Marie Bashir)</dl>
  <dt>Leadership Program UNSW (2013 - current)</dt>
  <dt>Volunteer with RoboGals UNSW, teaching in-school robotics workshops
(2014 - present)</dt>
  <dt>Writer for CSESoc Newsletter Team, UNSW (2014 - present)</dt>
</dl>
{% endblock %}
